/* Reset code comment start */
:root{
    --primaryColor1:#ddd;
    --primary-color:rgb(6, 6, 112);
    --secondaryColor:#FFFAFA;
    --blackColor:black;
    --font-weight: bolder;
    --fontSize:1.2rem;
    --transition: all 1s ;
    --padding:4px;

}
*{
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    outline: none;
    
}
html{
    scroll-behavior: smooth;
}

img{
    width: 100px;
    height: auto;
}
.flex-space-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer_cart{
        padding: 1rem;
        text-align: start;
        line-height: 20px;

}
.sub_footer{
    margin-top: 20px;
    align-items: center;
    padding-left: 5px;
    margin-bottom: 10px;
}
.label{
    font-size: 1.2rem;
}
#label_for{
    font-size: .8rem;
    opacity: .8;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
}
/* reset code End */

/* navbar start here  */
nav{
    background-color: var(--primaryColor1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    left: 0;
    opacity: .9;
    z-index: 100;
    
}
.nav_upper{
    max-height: 100vh;
    background-color: rgb(221, 218, 225);
    padding: .9rem;
text-align: center;
margin: 0 auto;
}
.nav_list{

    transition: var(--transition);
}
.nav_list:hover{
    text-decoration: underline;
    color: black;
}
.nav_link{
    color: var(--primary-color);
    transition: var(--transition);
}
.nav_link:hover {
    transition: var(--transition);
    color: var(--blackColor);
    font-weight: var(--font-weight);
    
}
.branding{
    font-family: fantasy;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.cart{
    margin-right: -15%;
}
.SingUp{
    margin-left: -15%;
}
/* start nav lower design */
.nav_lower{
    background-color:#fff;
    padding: 1rem;
    text-transform: capitalize;
    opacity:1;
    text-align: center;
    margin: 0 auto;
    position: relative;

}

/* start sub catg */
.sub_catg{
    position: absolute;
    display: none;
    background-color: #FFFAFA;
    padding: 7px;
    text-align: justify;
    border-radius: 6px;
    top: 52px;
    transition: var(--transition);
}
.sub_catg .nav_list{
    padding: var(--padding);
}

.nav_list:hover .sub_catg{
    display: block;
    transition: var(--transition);
}
/* ends sub catg */
/* navbar Ends here  */
/* baner start here */
.Banner{
    background-color: rgb(240, 139, 139);
}
.Banner_title{
    background-color: #f8f4f4;
    opacity: .7;
    font-size: 1.2rem;
    color: #1A1A1A;
    font-weight: bolder;
    margin-bottom: 1%;
}
.carousel{
    margin-top: 10px;
    max-width:80%;
    margin: 0 auto;    
}

/* banner ends here  */
/*  footer starts here*/
.footer{
    background-color: #1A1A1A;
    color: #ddd;
    margin-bottom: 0;
}
.footer_link{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 1.2rem;
}
.Email_for{
    margin: 0;
    padding: 0;
    font-size: .6rem;
}
.sub_footer_link{
    color: aquamarine;

}
/* footer ends here */

/* Responsiveness start here */
/* @media (max-width:992px){
    .nav_upper{
        font-size: 1rem;
    }
    .branding{
        font-size: 1rem;
    }
    .nav_lower{
        flex-direction: column;
    }
    .sub_catg{
        position: sticky;
    }
   
} 
@media  (max-width:375px) {
    .branding{
    font-size: smaller;
    }
    .nav_upper{
        font-size: 0.6rem;
    }  
}
@media (max-width:792px){
    .nav_lower{
        flex-direction: column;
    }
    .sub_catg{
        position: sticky;
   }
}  */
/* Responsiveness ends here */
