/* Reset code comment start */
:root {
  --primaryColor1: #ddd;
  --primary-color: rgb(6, 6, 112);
  --secondaryColor: #fffafa;
  --blackColor: black;
  --font-weight: bolder;
  --fontSize: 1.2rem;
  --transition: all 1s;
  --padding: 4px;
  --banerColor: rgb(241, 241, 245);
  --feautesColor: rgb(240, 139, 139);
  --footerTextColor:rgb(206, 135, 48);
  --orange:orange;
}
* {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
}
html {
  scroll-behavior: smooth;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }

img {
  width: 100px;
  height: auto;
}
.flex-space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer_cart {
  padding: .6rem;
  line-height: 23px;
}


/* reset code End */

/* navbar start here  */
nav {
  background-color: var(--primaryColor1);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  left: 0;
  opacity: 0.9;
  z-index: 100;
}
.nav_upper {
  max-height: 100vh;
  background-color: rgb(221, 218, 225);
  padding: 0.9rem;
  text-align: center;
  margin: 0 auto;
  border-bottom: #fff 1px solid;
}
.nav_list {
  transition: var(--transition);
}
.nav_list:hover {
  text-decoration: underline;
  color: black;
}
.nav_link {
  color: var(--primary-color);
  transition: var(--transition);
}
.nav_link:hover {
  transition: var(--transition);
  color: var(--blackColor);
  font-weight: var(--font-weight);
}
.branding {
  font-family: fantasy;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.cart {
  margin-right: -15%;
}
.SingUp {
  margin-left: -15%;
}
/* start nav lower design */
.nav_lower {
  padding: 1rem;
  text-transform: capitalize;
  opacity: 1;
  text-align: center;
  margin: 0 auto;
  position: relative;
}

/* start sub catg */
.sub_catg {
  position: absolute;
  display: none;
  background-color: #fffafa;
  padding: 7px;
  text-align: justify;
  border-radius: 6px;
  top: 45px;
  transition: var(--transition);
}
.sub_catg .nav_list {
  padding: var(--padding);
}

.nav_list:hover .sub_catg {
  display: block;
  transition: var(--transition);
}
/* ends sub catg */
/* navbar Ends here  */
/* baner start here */
.Banner {
  background-color: var(--banerColor);
}
.Banner_title {
  background-color: var(--feautesColor);
  opacity: 0.7;
  font-size: 1.2rem;
  color: #fffafa;
  font-weight: bolder;
  margin-bottom: 1%;
  background-image: url("img/Desktop.jpg");
  background-repeat: no-repeat;
}
.carousel {
  margin-top: 10px;
  max-width: 80%;
  margin: 0 auto;
}
.feauturse {
  margin: 0 auto;
  text-align: center;
  font-size: 0.5rem;
}
.feautes {
  padding: 10px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.feautes i {
  font-size: 1.4rem;
}
.feautes:hover{
    cursor: pointer;
}
/* banner ends here  */


/* main content start here  */
main{
  padding: 4rem 0;
  min-height: 80vh;
}
.section_title{
  font-family:'Times New Roman', Times, serif;
  text-transform: capitalize;
  font-weight: bold;
}
.sidebar{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-self: flex-start;

}
.list_item{
  line-height: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.main-content{
flex: 4;
}
/* main content ends here  */



/*  footer starts here*/
.footer {
  background-color: #1a1a1a;
  color: #ddd;
  margin-bottom: 0;
  position: relative;
}
.footer_link {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 1.2rem;
}
.footer_link:hover{
  text-decoration: none;
  color: var(--orange);
}
.sub_footer_link {
  color: aquamarine;

}
.sub_footer_link:hover{
  text-decoration: none;
  color: var(--footerTextColor);
}
.footer_cart{
    margin-top: 40px;
}
.connectUS{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}
.connectUS:hover{
  cursor: pointer;
}
.connectUS i {
    margin: 5px;
}
.connectUS h5{
    font-size: .7rem;
}
.payment_method{
display: flex;
justify-content: flex-end;
margin-top: 20px;
}
.payment_method:hover{
    cursor: pointer;
    }
.payment_method h5{
    font-size: .7rem;
}
.payment_method img{
width: 20px;
margin: 5px;

}
.subscribe-newsletter{
  display: block;
}
.email_input{
  padding: 5px;
}
.subscribe-newsletter a{
  background-color: #fff;
padding: 8px;
color: #1a1a1a;
text-transform: capitalize;
}
.subscribe-newsletter a:hover{
  text-decoration: none;
  color: var(--footerTextColor);
}

/* footer ends here */

/* Responsiveness start here */
/* @media (max-width:992px){
    .nav_upper{
        font-size: 1rem;
    }
    .branding{
        font-size: 1rem;
    }
    .nav_lower{
        flex-direction: column;
    }
    .sub_catg{
        position: sticky;
    }
   
} 
@media  (max-width:375px) {
    .branding{
    font-size: smaller;
    }
    .nav_upper{
        font-size: 0.6rem;
    }  
}
@media (max-width:792px){
    .nav_lower{
        flex-direction: column;
    }
    .sub_catg{
        position: sticky;
   }
}  */
/* Responsiveness ends here */