*{
    box-sizing: border-box;
}
.flex-left{
    width: 40%;
}
.flex-left img{
    width: 100%;
    filter: saturate(0);
    transition: all .5s;
}
.flex-left img:hover{
    filter: saturate(1);
}
.flex-right{
    max-width: 40%;
    justify-content: space-between;
}
.product_btn1 a{
    background-color: #f1f1f1;
    padding: 7px;
    border-radius: 5px;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
.product_btn1 :hover{
    text-decoration: none;
    background-color: #1A1A1A;
    color: red;
}