<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
      integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>products Details</title>
</head>
<body>
  <header class="sticky top-0 z-40">
    
    <nav class="sticky flex flex-row items-center justify-between px-2 py-2 lg:p-6 gap-x-3 bg-[#2d4059]">
      <div id="logo">
        <h1 class="text-lg lg:text-3xl font-bold text-[#ff6f61]">Daeaz<span class="text-[#f5f5f5]">Mart</span></h1>
      </div>
      
      <div class="flex items-center justify-between sticky bg-[#2d4059]  px-4 py-1 text-yellow-100">
     
        <div class="flex justify-between gap-x-6 items-center  text-[#fef9c3]">
          <i class="fa-solid fa-user-plus cursor-pointer" id="loginbtn"></i>
          <p><i class="fa-solid fa-cart-shopping">0</i></p>
        </div>
  
      </div>

    </nav>
   
   </header>



    <main>

        
    <!-- login modal  -->
    <section id="logModal" class="absolute top-[40%] left-0 right-0 mx-auto bg-[#2d4059] w-[80%] lg:w-[35%] rounded-lg hidden">
      <div class="hero-content flex-col lg:flex-row-reverse"> 
        <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
          <div class="card-body">
            <fieldset class="fieldset">
             <form class="fieldset">
              <label class="fieldset-label">Email</label>
              <input type="email" value="m@gamil.com" class="input email" placeholder="Email"  required/>
              <label class="fieldset-label">Password</label>
              <input type="password" class="input password" placeholder="Password" required/>
              <div><a class="link link-hover">Forgot password?</a></div>
              <button id="login" class="btn btn-neutral mt-4">Login</button>
             </form>
            </fieldset>
          </div>
        </div>
      </div>
  </section>

      <div class="container mx-auto py-12 px-4">
        <div class="max-w-4xl mx-auto overflow-hidden">
          <div class="flex flex-col md:flex-row items-stretch gap-6">
            <div class="flex justify-center items-center md:w-1/2">
              <img
                id="product-image"
                src="./images/purple.png"
                alt="Smartwatch"
                class="h-full md:h-auto object-cover rounded-lg"
              />
            </div>
            <div
              class="p-6 md:p-8 md:w-1/2 flex flex-col justify-between"
              style="max-height: 85%"
            >
              <h1 class="text-2xl font-bold text-gray-800" id="product-name">
                <!-- dynamic title -->
              </h1>
              <div class="flex items-center mt-2">
                <div class="text-yellow-400">★★★★☆</div>
                <span class="ml-2 text-sm text-gray-600">(2 Reviews)</span>
              </div>
              <div class="mt-4">
                <span class="text-gray-400 line-through text-lg">$99.00</span>
                <span class="text-purple-600 text-2xl font-bold" id="price">$79.00</span>
              </div>
              <p class="mt-4 text-gray-600 text-sm">
                I must explain to you how all this mistaken idea of denouncing
                pleasure and praising pain was born and I will give you a complete
                account of the system, and expound the actual teaching.
              </p>
              <div class="mt-6">
                <div class="flex items-center text-gray-700 text-sm">
                  <span class="font-semibold w-24">Type:</span>
                  <span>Watch</span>
                </div>
                <div class="flex items-center text-gray-700 text-sm mt-1">
                  <span class="font-semibold w-24">Model:</span>
                  <span>Forerunner 290XT</span>
                </div>
              </div>
  
             
              <!-- Quantity & Add to Cart -->
              <div class="mt-6 flex flex-wrap items-center space-x-4">
                <div class="flex items-center border border-gray-300 rounded-lg">
                  <button
                    class="px-4 py-2 text-gray-600 hover:text-gray-800 quantity-button"
                  >
                    -
                  </button>
                  <span id="quantity" class="px-4">0</span>
                  <button
                    class="px-4 py-2 text-gray-600 hover:text-gray-800 quantity-button"
                  >
                    +
                  </button>
                </div>
                <div class="flex items-center space-x-2">
                  <button
                    class="px-6 py-3 bg-purple-600 text-white rounded-lg shadow-lg hover:bg-purple-700"
                    id="add-to-cart"
                  >
                    Add to Cart
                  </button>
  
                  <button class="text-purple-600 hover:text-purple-700 text-2xl">
                    <i class="fas fa-heart"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
  
          <!-- Checkout Button Container (Centered Below Image & Text) -->
          <div
            id="checkout-container"
            class="mt-6 flex justify-center w-full hidden"
          >
            <button
              id="checkout-btn"
              class="px-6 py-2 bg-orange-400 text-white rounded-3xl shadow-lg hover:bg-orange-500 flex items-center"
            >
              Checkout
              <span
                class="ml-2 bg-white text-orange-500 rounded-lg w-6 h-6 flex items-center justify-center text-xs font-bold"
                id="cart-count"
              >
                0
              </span>
            </button>
          </div>
        </div>
      </div>
  
      <!-- Modal for Cart Preview -->
      <div
        id="cart-modal"
        class="fixed inset-0 bg-gray-500 bg-opacity-75 flex justify-center items-center z-50 hidden"
      >
        <div class="bg-white p-6 rounded-lg shadow-lg w-96 md:w-2/3 lg:w-1/2">
          <h2 class="text-xl font-bold text-gray-800">Your Cart</h2>
  
          <!-- Cart Items Table -->
          <div class="overflow-x-auto mt-4">
            <table class="min-w-full table-auto">
              <thead>
                <tr class="text-left border-b">
                  <th class="py-2 px-4">Item</th>
                  <th class="py-2 px-4">Color</th>
                  <th class="py-2 px-4">Size</th>
                  <th class="py-2 px-4">Quantity</th>
                  <th class="py-2 px-4">Price</th>
                </tr>
              </thead>
              <tbody id="cart-items">
                <!-- Cart items will go here dynamically -->
              </tbody>
            </table>
          </div>
  
          <!-- Buttons -->
          <div class="flex justify-end gap-2 mt-4">
            <button
              id="continue-shopping"
              class="px-6 py-2 bg-gray-300 text-gray-800 rounded-lg hover:bg-gray-400"
            >
              Continue Shopping
            </button>
            <button
              class="px-6 py-2 bg-purple-600 text-white rounded-lg hover:bg-purple-700"
              id="checkout"
            >
              Checkout
            </button>
          </div>
        </div>
      </div>
  
    </main>

<!-- footer section -->
    <footer class="footer bg-[#2d4059] py-2 px-2 lg:py-10 lg:px-10 ">

        <section class=" footer flex flex-col md:flex-row justify-between items-center">
          <nav>
            <aside>
              <div>
                <h1 class="text-lg lg:text-3xl font-bold text-[#ff6f61]">Daeaz<span class="text-[#f5f5f5]">Mart</span></h1>
              </div>
              <p class="text-[#fef9c3]">
                We are Providing Autentice and Original Products
              </p>
            </aside>
           
          </nav>
      
          <div>
        <nav>
          <h1 class="text-yellow-100">Newsletter</h1>
          <form class="flex items-center justify-between gap-x-2">
            <input type="email" class="input text-orange-950 placeholder:text-[#2d4059]" placeholder="Enter Your Email" required>
            <button class="btn bg-[#ff6f61] outline-none border-none">Subscribe</button>
          </form>
        </nav>
        <nav class="place-self-start md:place-self-center md:justify-self-end text-[#f5f5f5]">
          <div class="grid grid-flow-col gap-4">
            <a>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                class="fill-current">
                <path
                  d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"></path>
              </svg>
            </a>
            <a>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                class="fill-current">
                <path
                  d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z"></path>
              </svg>
            </a>
            <a>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                class="fill-current">
                <path
                  d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"></path>
              </svg>
            </a>
          </div>
        </nav>
      
      </div>
        </section>
      
      <p class="text-center justify-center text-zinc-100 w-full ">&copy; 2025 DaeazMart. All rights reserved.</p>
        </footer>
      

    <script src="../utilities/utilities.js"></script>
    <script src="../javaScript/ProductsDetails.js"></script>
</body>
</html>