<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>products Details</title>
</head>
<body>
    <h1>product details</h1>

    <main>
        <section>
            <img id="productImage">
            <h1 id="cardTitle"></h1>
            <h1 id="price"></h1>

        </section>
    </main>

    <script src="../utilities/utilities.js"></script>
    <script src="../javaScript/ProductsDetails.js"></script>
</body>
</html>